<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39831135432-6gr4710ej4qtj317cjipn9ghg439l05h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39831135432-6gr4710ej4qtj317cjipn9ghg439l05h</string>
	<key>API_KEY</key>
	<string>AIzaSyA_oa1AVis46MEUEFCzbCtY02Z1FJVnhgY</string>
	<key>GCM_SENDER_ID</key>
	<string>39831135432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindgardener.mindGardener</string>
	<key>PROJECT_ID</key>
	<string>nod-try</string>
	<key>STORAGE_BUCKET</key>
	<string>nod-try.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39831135432:ios:95e15365da684b6703f1fd</string>
</dict>
</plist>